html { 
    background: url(assests\images\portfolio.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

body {
    /*Apply to the body of the project*/
    color: 	rgb(54, 24, 54);
    font-family: Arial, Helvetica, sans-serif;
}
/* apply styles to <header> */
header {
    padding: 20px 35px;
    background-color: lavender;
}

/* Applies 20px to every side (top, right, bottom, left) */
header {
    padding:20px;
}

/* Applies 20px to the top and bottom, then 35px to the left and right */
header {
    padding:20px 35px;  
}

/* Applies 10px to the top, 15px to the right, 20px to the bottom, 25px to the left (in that specific clockwise order) */
header {
    padding: 10px 15px 20px 25px;
}

/* Explicitly list the side it should be applied to */
header {
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-left: 25px;
}

header h1 {
    font-weight:bold;
    font-size: 36px;
    color: #d8ba7e;
    margin: 0;
    display: inline;
}

header a {
    text-decoration: none;
    color: #7d4086;
}

header nav {
    float: right;
    margin: 0px 0;
}

header nav ol li{
    display: inline;
}

header nav ol li{
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* Html Style Start */
html {
    background-image: url("../images/portfolio.jpg") 
}
/* Html Style End */

.About-Me {
    background-color: lavender;
    width: fit-content;
    border: 15px solid black;
    padding: 50px;
    margin: 20px;  
}

.Resume {
  float: right;  
  background-color: lightgrey;
  width: 300px;
  border: 15px solid gold;
  padding: 50px;
  margin: 20px;
}

h2 {
    width: 100%;
    text-align:center;
}

.My-Portfolio {
    display: inline-block;
    background-color: rgb(33, 13, 27);
    width: 300px;
    border: 15px solid rgb(110, 102, 56);
    padding: 50px;
    margin: 20px;
}

.My-Contact {
    float: bottom; 
    background-color: lightgrey;
    width: 500px;
    border: 15px solid gold;
    padding: 50px;
    margin: 20px;
}

.boxed {
    display: inline-block;
    background-color: lightgrey;
    width: fit-content;
    border: 15px solid blueviolet;
    padding: 50px;
    margin: 25px; 
}